%h1 Start your free 30 day trial!

%h2 No credit card, contract, or brain required

.container
  .plan.personal
    %h3 Personal

    .price $9

    = image_tag 'http://placehold.it/280x150'

    %ul
      %li 2 GB storage
      %li 30 uploads / month
      %li Unlimited downloads
      %li Email support

    .start-button Start trial

  .plan.premium
    %h3 Premium

    .price $29

    = image_tag 'http://placehold.it/280x150'

    %ul
      %li 5 GB storage
      %li 60 uploads / month
      %li Unlimited downloads
      %li Chat support

    .start-button Start trial

  .plan.enterprise
    %h3 Enterprise

    .price $59

    = image_tag 'http://placehold.it/280x150'

    %ul
      %li 500 GB storage
      %li Unlimited uploads
      %li Unlimited downloads
      %li Telepathic support

    .start-button Start trial