/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require_self
 *= require_tree .
 */

@import 'compass/css3/border-radius';

body {
 	background-color: #16a085;
 	text-align: center;
 	color: white;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h1, h2 {
 	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.container {
	width:  960px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;

  .plan {
    float: left;
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    color: #2c3e50;

    h3 {
      color: #16a085;
      font-size: 1.3em;
      text-transform: uppercase;
      font-family: "Arial Narrow", Arial, sans-serif;
    }

    .price {
      font-size: 3em;
      font-weight: bold;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding-left: 0;
      font-size: 1.3em;
    }

    .button {
      width: 90%;
      background-color: #2980b9;
      height: 40px;
      line-height: 40px;
      color: white;
      margin: 0 auto;
      font-size: 1.3em;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 30px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .plan.premium {
    margin: 0 30px;
  }
}

footer {
  clear: both;
  margin-top: 30px;
}